/* locator-reviews.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.locator-reviews {
  background-color: #f5f6f6;
  padding: 80px 0;

  @media (max-width: $screen-xs-max) {
    padding-top: 60px;
    padding-bottom: 60px;
  }


  .carousel-wrap {
    position: relative;
  }


  // slider
  .carousel-slider {

    // not init
    &:not(.slick-initialized) {

      .slide {
        + .slide {
          display: none;
        }
      }
    }

    // init
    &.slick-initialized {

      ~ .carousel-nav,
      ~ .carousel-dots {
        opacity: 1;
      }
    }
  }


  // slide
  .slide {
    padding-bottom: 50px;


    .slide-wrap {
      max-width: 680px;
      margin: 0 auto;

      @media (max-width: $screen-sm-max) {
        max-width: 600px;
      }
      @media (max-width: $screen-xs-max) {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
      }
    }

    .slide-icon {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      &:before {
        display: block;
      }
    }

    .slide-text {
      text-align: center;
      @include ff-semibold;
      font-size: rem(18px);
      line-height: rem(24px);

      @media (max-width: $screen-xs-max) {
        font-size: rem(14px);
        line-height: rem(20px);
      }
    }
  }


  // nav
  .carousel-nav {
    opacity: 0;
    transition: opacity 0.3s ease;

    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }


  .btn-prev,
  .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: $color-main-grey;
    padding: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: rem(12px);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-color: $color-border-default;

    @media (max-width: $screen-xs-max) {
      width: 20px;
      height: 20px;
      font-size: rem(10px);
    }


    &:not(:disabled):not(.disabled):hover {
      border-color: $color-main-grey;
      background-color: $color-main-grey;
      color: #fff;
    }

    &:not(:disabled):not(.disabled):active {
      border-color: $color-main-grey;
      background-color: $color-main-grey;
      color: #fff;
    }

    &:before {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .btn-prev {
    left: ($page-gutter-width / 2);

    @media (max-width: $screen-xs-max) {
      left: ($grid-gutter-width / 2);
    }

    &:before {
      margin-left: -1px;
    }
  }

  .btn-next {
    right: ($page-gutter-width / 2);

    @media (max-width: $screen-xs-max) {
      right: ($grid-gutter-width / 2);
    }

    &:before {
      margin-left: 1px;
    }
  }


  // dots
  .carousel-dots {
    opacity: 0;
    transition: opacity 0.3s ease;

    ul {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-wrap: nowrap;

      @media (max-width: $screen-xs-max) {
        bottom: 10px;
      }

      li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: rgba(#000, 0.2);
        margin: 0 5px;
        cursor: pointer;

        &.slick-active {
          background: rgba(#000, 0.4);
        }
      }
    }
  }
}