/*#########SLIDERS LIST PAGE###########*/
#sliders-list-page  .add-new-h2 {
	cursor:pointer;
}

#sliders-list-page .actions {

}

#sliders-list-page .actions label {
	display:block;
	float:left;
	margin-top:5px;
}

#sliders-list-page .actions input {
	display:block;
	float:left;
}

#sliders-list-page table tr.has-background {background:#f9f9f9;}

/*SLIDERS TABS*/
 #sliders-list  {
	width:100%;
	margin:0px 0px 20px 0px;
	border-bottom:1px solid #ccc;
	height:30px;
}
 
#sliders-list  li {	
	position:relative;
	display:block;
	float:left;
	height:29px;
	margin:0px 5px 0px 0px;
	padding:0px 0px 0px 0px;
	border:1px solid #ccc;
}

#sliders-list  li.active {
	border-bottom: 1px solid #f1f1f1;	
	padding-right:16px;
	background-position:right center;
	background-repeat:no-repeat;
}


#sliders-list  li a,#sliders-list  li a:link,#sliders-list  li a:visited {
	display:block;
	text-decoration:none;
	padding:5px 10px 5px 10px;
	background: #ebebeb;
	color: #777;
	background:#fff;
	outline:none;
}

#sliders-list  li a:hover,#sliders-list  li a:focus,#sliders-list  li a:active {
	color:#444;
	background:#f1f1f1;
}

#sliders-list  li.add-new a:hover,#sliders-list  li.add-new a:focus,#sliders-list  li.add-new a:active {
	cursor:pointer;
}
	
#sliders-list  li.active input {
	margin:2px 0px 0px 0px;
	background:#f1f1f1;
	outline:none;
	width:auto;
	box-shadow:none;
	border:0px;
	width: 90px;
}



/*SIDEBAR*/

#slider-unique-options-list li label {
	display:inline-block;
	width:100px;
	padding:0px 0px 0px 10px;
}

#slider-unique-options-list li input[type='text'],#slider-unique-options-list li select {width:150px;}

#slider-shortcode-box ul li:first-child {
	border-bottom:1px solid #ccc;
	padding-bottom:18px;
}

#slider-shortcode-box li textarea.full {
	width:100%;
	height:50px;
	resize:none;
}


/*CONTENT*/

#post-body-heading {
	width:100%;
	padding:10px 0px 10px 0px;
	height:30px;
	background:#fff;
	border-bottom: 1px solid #e5e5e5;
}

.slider-options #post-body-heading {width:100%;}

#post-body-heading h3 {
	float:left;
	margin:-5px 0px 0px 5px !important;
	padding:0px;
}

#post-body-heading .button,#post-body-heading .save-slider-options  {
	float:right;
	margin-right:10px !important;
}

#post-body-heading .button.add-post-slide input {
	position:absolute;
	display:none;
}

#post-body-heading .button.add-new-image .wp-media-buttons-icon {
	background: url('../../../../../../wp-admin/images/media-button.png') left top  no-repeat ;
	display: inline-block;
	width: 120px;
	height: 24px;
	vertical-align: text-top;
	color: #fff;
	-webkit-box-shadow: inset 0 0px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 0px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	border: none; 
	padding-left: 22px;
	background-position: 0px;
	margin-right: 0px !important;
}

#post-body-heading .button.add-post-slide .wp-media-buttons-icon {
	background: url('../../../../../../wp-admin/images/post-formats.png') left top no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
	margin: 2px 7px 0px 0px;
}


#post-body-heading .button.add-video-slide .wp-media-buttons-icon {
	background: url('../images/video.icon.png') left top  no-repeat;
	display: inline-block;
	width: 0px;
	height: 19px;
	vertical-align: text-top;
	color: #fff;
	border: none; 
	padding-left: 22px;
	background-position: 0px;
	margin-right: 0px !important;
}




#post-body-footer {
	padding:5px 10px 5px 10px;
}

#post-body-footer a.save-slider-options {
	float:right;
}

#images-list {
	display:table;
	width:100%;
	height:auto;
	border: 1px solid #e5e5e5;
	margin:0px;
}

#images-list li {
	clear:both;
	display:block;
	background-color:#fff;
	margin:0px;
	padding:10px 5px 10px 5px;
}

#images-list li.has-background {background-color:#f9f9f9;}

#images-list li:hover {
	cursor:move;
	background-image:url(../images/dragable.gif);
	background-position:right top;
	background-repeat:repeat-y;
}

#images-list li.ui-sortable-helper {
	opacity:0.8;
}

#images-list .image-container {
	position: relative;
        width: 24%;
        padding: 0px 0.5% 0px 0.5%;
        float: left;
        max-width:220px;
}


#images-list .image-container  img {
	width:100%;
        height:auto;
}


#images-list  .play-icon {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%	
}

#images-list  .play-icon.youtube {background:url(../images/play.youtube.png) center center no-repeat;}

#images-list  .play-icon.vimeo {background:url(../images/play.vimeo.png) center center no-repeat;}



#images-list .image-options {
	float:left;
	width: 74%;
}


#images-list .image-options.video-options {float:left;}

#images-list .image-options > div {
	clear:both;
	width:100%;
	margin:0px 0px 10px 0px;
}

#images-list .image-options label {
	display: inline-block;
	float:left;
	width: 100px;
	padding: 3px 0px 0px 10px;
	vertical-align: middle;
} 

#images-list .description-block label {padding:10px 0px 0px 10px;}

#images-list .image-options input[type='text'], #images-list .image-options select, #images-list .image-options textarea {
	width: 83%;
}

#images-list .image-options input.color {width:100px;}

#images-list .image-options .link-block label.long {
	width: 105px;
	padding:3px 0px 0px 5px;
}

#images-list .image-options .link-block   input.url-input  {
    float: left;
    width: 61%;
}

#images-list .image-options .link-block   input.link_target {
	margin-top:4px;
}


#images-list .image-options textarea {resize:none;}


#images-list .image-options h3 {
	display:block;
	width:250px;
	clear:none;
	height:30px;
	padding:0px 0px 10px 0px;
}

#images-list .image-options .video-options {
	width:250px;
	float:left;
	clear:none;
	height:30px;
	padding:0px 0px 10px 0px;
}

#images-list .image-options .video-quality select {
	width:100px;
}


#images-list .image-options .video-volume .slider-container {
	position:relative;
	display: inline-block;
	width: 140px;
	margin:6px 0px 0px -10px;
}

#images-list .image-options .remove-image-container {
	position:relative;
	clear:both;
	height:20px;
	padding:10px 0px 0px 0px;
	width:100%;
}
#images-list .image-options .remove-image {float:right;}

#images-list .recent-post-options > div {
	height:35px;
}

#images-list .recent-post-options div.left {
	float:left;
}

#images-list .recent-post-options div.left.margin {
	margin-right:30px;
}

#images-list .recent-post-options  label {
	width:138px;
}

#images-list .recent-post-options  select.categories-list {
	width:280px;
}

#images-list .recent-post-options  input.number {
	width:50px;
}


#images-list  input[type=checkbox], #images-list  input[type=radio] {
	margin:0px !important; 
}


/*  OPTIONS PAGE  */


#slider-options-list {
	width:100%;
	background:#fff;
}

#slider-options-list  form .options-block {
	position:relative;
	width:50%;
	float:left;
}


#slider-options-list  form .options-block > div label {
	display:inline-block;
	width:60%;
	height:35px;
} 

#slider-options-list  form .options-block > div {
	position:relative;
	padding:10px 10px 5px 10px;
	clear:both;
}


#slider-options-list  form .options-block > div.has-background {background:#fff;}


#slider-options-list  form .options-block > div label {
	float:left;
}

#slider-options-list  form .options-block > div.has-height > div {display:inline-block;}



#slider-options-list  form .options-block > div div.slider-container {
	position:relative;
	display: inline-block;
	width: 145px;
	margin-left:-5px;
}

#slider-options-list  form .options-block > div div.slider-container span{
	position:absolute;
	top:-3px;
	right:0px;
}

#slider-options-list  form .options-block > div input[type='text'],#slider-options-list  form .options-block > div select {
	width:100px;
}

#slider-options-list  form .options-block > div .bws_position_table input {
	margin:3px 17px 3px 3px;
}
.options-block2  > div label .help {
    
    position:relative;
    display:inline-block;
    width:20px;
    height:20px;
    margin:0px 10px 10px 20px;
    border: 1px solid #888;
    border-radius: 20px;
    text-indent: 7px;
}

.options-block2  > div label .help:hover {
    border: 1px solid #1e8cbe;
    border-radius: 20px;
    text-indent: 7px;
}

.options-block2  > div  .help-block {
     position:absolute;
     min-width:250px;
     padding:5px;
     top:30px;
     left:0px;
     background:#fff;
     border:1px solid #aaa;
     border-radius: 3px;
     display:none;
     font-size: 12px;
     z-index:5;
    text-align:justify;
}

.options-block2  > div  .help-block.active {
    display:block;
}

.options-block2  > div  .help-block .pnt {
    position:absolute;
    width:10px;
    height:11px;
    top:-10px;
    left:50%;
    margin-left:-5px;
    background:url(../images/help.box.pnt.gif) left top no-repeat;
}

.options-block2  > div  .help-block p {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}
/*/////////////////////////////////*/
.options-block  > div label .help {
    float: right;
    position:relative;
    display:inline-block;
    width:20px;
    height:20px;
    margin:0px 10px 0px 20px;
    border: 1px solid #888;
    border-radius: 20px;
    text-indent: 7px;
}

.options-block  > div label .help:hover {
    border: 1px solid #1e8cbe;
    border-radius: 20px;
    text-indent: 7px;
}

.options-block  > div  .help-block {
     position:absolute;
     min-width:250px;
     padding:5px;
     top:30px;
     left:0px;
     background:#fff;
     border:1px solid #aaa;
     border-radius: 3px;
     display:none;
     font-size: 12px;
     z-index:5;
    text-align:justify;
}

.options-block  > div  .help-block.active {
    display:block;
}

.options-block  > div  .help-block .pnt {
    position:absolute;
    width:10px;
    height:11px;
    top:-10px;
    left:50%;
    margin-left:-5px;
    background:url(../images/help.box.pnt.gif) left top no-repeat;
}

.options-block  > div  .help-block p {
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}
#slider-loading-icon {
	display: inline-block;
	margin: 0px ;
	padding: 0px ;
	width: 220px;
	height: 140px;
}
.image-block-icon {
	width: 50px;
	height: 50px;
}
.image-block-icon img {
	width: 100%;
	height: 100%;
} 
#slider-loading-icon li {
	position:relative;
	float:left;
	width: 50px;
	height: 50px;
	margin-left: 8px;
	border:1px solid #6E6E6E;
	opacity: 0.5;
}
#slider-loading-icon li:last-child .image-block-icon {
	height: 16px;
	margin-top: 16px;
}
#slider-loading-icon li:first-child .image-block-icon {
	height: 16px;
	margin-top: 16px;
}
#slider-loading-icon li.act {
	border:1px solid #0074C2;
	background-color: #ffffff;
	opacity: 1;
}
#slider-loading-icon li input{
	position:absolute;
	opacity: 0;
	left: 10px;
	top: 10px;
}

#arrows-type {
	display:table;
	margin:0px;
}

#arrows-type li {
	position:relative;
	margin:0px 3% 10px 0px;
	float:left;
	border:1px solid #e5e5e5;
}

#arrows-type li.color {
	background:#f9f9f9;
}

#arrows-type li.active {
	border:1px solid #0074c2;
}

#arrows-type li > div {
	position:relative;
	width:180px;
	height:160px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;

}
#arrows-type li > div p {
	font-size:10px;
	text-align:left;
	vertical-align:bottom;
}

#arrows-type li  input {
	position:relative;
	vertical-align:middle;
	width:180px;
	height:160px;
	position:absolute;
	top:0px;
	left:0px;
	border-radius:0px !important;
	opacity:0;
}


/*#####ADD POSTS POPUP###*/

#huge_it_slider_add_posts {
	position:relative;
	margin:0px 0px 10px 0px;
}


#slider-posts-tabs {
	position:relative;
	list-style:none;
	border-bottom:1px solid #999;
	height:40px;
}

#slider-posts-tabs  li  {
	float:left;
	margin:0px 5px 0px 5px;
}

#slider-posts-tabs  li a {
	display:block;
	height:30px;
	padding:9px 10px 0px 10px;
	border:1px solid #999;
	border-bottom:0px;
	text-decoration:none;
	background:#fcfcfc;
}

#slider-posts-tabs  li.active a {
	padding-bottom:1px;
	background:#f0f0f0;
}

#slider-posts-tabs-contents > li  {
	position:relative;
	width:100%;
	float:left;
	display:none;
}

#slider-posts-tabs-contents > li.active  {
	display:block;
}

#huge-it-category-form {
	float:left;
}

#huge-it-categories-list {
	width:150px;
	margin:0px 10px 0px 0px;
}

.huge-it-insert-post-button {
	float:right;
}

#huge-it-description-length {
	width:60px;
}

#huge_it_slider_add_posts_wrap .view-type-block {
	float:right;
	margin:0px 5px 0px -10px;
}

#huge_it_slider_add_posts_wrap .view-type-block a {
	display:block;
	margin-left:5px;
	width:30px;
	height:30px;
	padding:1px;
	float:right;
	text-indent:-9999px;
	border:1px solid rgba(0,0,0,0);
}

#huge_it_slider_add_posts_wrap .view-type-block a.active {
	border:1px solid #999;
}

#huge_it_slider_add_posts_wrap .view-type-block a.list {
	background:url(../images/view_list.png) center center no-repeat;
}

#huge_it_slider_add_posts_wrap .view-type-block a.thumbs {
	background:url(../images/view_thumbs.png) center center no-repeat;
}

#huge-it-posts-list {
	position:relative;
	display:table;
	width:99%;
}


/*TYPE-LIST*/
#huge-it-posts-list.list  li {
	position:relative;
	float:left;
	width:100%;
	clear:both;
	padding:10px 0px 10px 0px;
}

#huge-it-posts-list.list  li.hascolor {
	background:#fff;
}

#huge-it-posts-list.list  li.active {
	border-right:2px solid #0074a2;
}

#huge-it-posts-list  li input.huge-it-post-checked {
	z-index:1000;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0px;
	opacity:0.3;
}

#huge-it-posts-list  li input.huge-it-post-checked.active {opacity:0;}

#huge-it-posts-list.list  li#huge-it-posts-list.list-heading {
	border-bottom:2px solid #666;
	height:30px;
	margin:0px;
	font-weight:bold;
}



#huge-it-posts-list.list  li > div {
	float:left;
	padding:0px 5px 0px 5px;
	
}

#huge-it-posts-list.list .huge-it-posts-list-image {
	width:100px;
	min-height:10px;
	clear:both;
}

#huge-it-posts-list.list .huge-it-posts-list-image img{
	width:100px;
	max-height:100px;
}

#huge-it-posts-list.list .huge-it-posts-list-title {width:150px;}
#huge-it-posts-list.list .huge-it-posts-list-description {width:200px;max-height:98px;overflow:hidden;}
#huge-it-posts-list.list .huge-it-posts-list-description *{margin:0px;padding:0px;}
#huge-it-posts-list.list .huge-it-posts-list-link {width:100px;word-break:break-all;}
#huge-it-posts-list.list .huge-it-posts-list-category {display:none;}


#slider-posts-tabs-contents .recent-post-options form > div {
	height:55px;
	clear:both;
}

#slider-posts-tabs-contents .recent-post-options form > div.clear {height:20px;}

#slider-posts-tabs-contents .recent-post-options form div.left {
	float:left;
}

#slider-posts-tabs-contents .recent-post-options form div.left.margin {
	margin-right:30px;
}

#slider-posts-tabs-contents .recent-post-options form div.left.less-margin {
	margin-right:10px;
}

#slider-posts-tabs-contents .recent-post-options form div.left.top {
	margin-top:-10px;
}

#slider-posts-tabs-contents .recent-post-options  label {
	display:inline-block;
	width:136px;
	display: inline-block;
	float: left;
	vertical-align: center;
}

#slider-posts-tabs-contents .recent-post-options  form div.left.height  label {padding-top:10px;}

#slider-posts-tabs-contents .recent-post-options  select.categories-list {
	width:260px;
}

#slider-posts-tabs-contents .recent-post-options  input.number {
	width:65px;
}


/*TYPE-THUMBS*/

#huge-it-posts-list.thumbs  li {
	position:relative;
	float:left;
	width:100px;
	height:100px;
	overflow:hidden;
	padding:5px;
	margin:7px;
	border:1px solid #666;
	border-radius:3px;
}

#huge-it-posts-list.thumbs  li.active {
	border:2px solid #0074a2;
	margin:6px;
}

#huge-it-posts-list.thumbs .huge-it-posts-list-image {
	width:100px;
	height:100px;
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
}

#huge-it-posts-list.thumbs .huge-it-posts-list-image img {
	width:100px;
	max-height:100px;
}



#huge-it-posts-list.thumbs #huge-it-posts-list-heading,
#huge-it-posts-list.thumbs .huge-it-posts-list-title,
#huge-it-posts-list.thumbs .huge-it-posts-list-description, 
#huge-it-posts-list.thumbs .huge-it-posts-list-link,
#huge-it-posts-list.thumbs .huge-it-posts-list-category {display:none;}

#huge-it-posts-list .help-message {
	position:absolute;
	top:100px;
}

.editimageicon {
	border:0px;
	background:none;
	color:#2ea2cc;
	outline:none;
	display:inline;
	height: 24px;
	padding-top: 0px;
	cursor:pointer;
	text-decoration:underline;
	padding:0px 20px 0px 0px;
	background: url(../images/edit.png) right 8px no-repeat;
}

.editimageicon:hover {
	color:#0074a2;
}



/*#####ADD VIDEO SLIDE POPUP###*/

#huge_it_add_video_input {
	width:470px;
	height:33px;
}

#add-video-popup-options > div {
	display:none;
	padding-top:20px;
}

#add-video-popup-options > div.active {display:block;}

#add-video-popup-options > div > div {
	width:50%;
	height:40px;
	margin:0px 0px 20px 0px;
	float:left;
	position:relative;
}

#add-video-popup-options > div > div label {
	display: block;
	float:left;
	width: 40%;
	padding-top:10px;
	height:20px;
}

#add-video-popup-options > div > div .checkbox {
	margin-top:7px
}

#add-video-popup-options > div > div div.slider-container {
	position:relative;
	display: inline-block;
	margin-top:13px;
}

