/* layout.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

body {

}


.g-wrap {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;

  &.g-wrap--overlay {

    &:after {
      visibility: visible;
      opacity: 1;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-main-grey, 0.65);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}


.g-main {
  margin-bottom: auto;
  padding-top: ($header_bar-height + $header_wrap-height-desk);

  @media (max-width: $screen-md-max) {
    padding-top: ($header_bar-height + $header_wrap-height-mob);
  }
}


.container {
  @media (min-width: $screen-sm-min) {
    width: calc(100% - (#{$page-gutter-width} - #{$grid-gutter-width}));
  }

  &.container--fluid {
    max-width: none;
  }
}