.locator-hero
	.container.container--fluid
		.s-wrap
			.s-locator
				.s-locator__header
					h1.header-title store locator
					.header-subtitle Use my current location to find the nearest store:
					.header-address
						| Grey Lynn, Auckland
						a(href='#') View store
				.s-locator__body
					.body-form
						.body-form__title Please select a region and store.
						.body-form__control
							select
								option(value='placeholder') -Select Region-
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
						.body-form__control
							select(disabled='')
								option(value='placeholder') -Select Store-
								option(value='1') 1
								option(value='2') 2
								option(value='3') 3
				.s-locator__footer
					.locator-info
						.locator-info__group
							.locator-info__ttl Address
							.locator-info__row
								.locator-info__col
									| 6/8 Morningside Dr,
									br
									| Sandringham, Auckland,
									br
									| 1025
								.locator-info__col
									| Phone: 09 601 8090
									br
									a(href='#') Email this store
						.locator-info__group
							.locator-info__ttl Store Hours
							.locator-info__row
								.locator-info__col
									| Today: 8:30am - 5:00pm
									br
									| Mon: 8:30am - 5:00pm
									br
									| Tue: 8:30am - 5:00pm
									br
									| Wed: 8:30am - 5:00pm
									br
									a(href='#') View more
								.locator-info__col
									| Thu: 8:30am - 5:00pm
									br
									| Fri: 8:30am - 5:00pm
									br
									| Sat: 9:00am - 4:00pm
									br
									| Sun: 10:00am - 4:00pm
			.s-map
				<iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no"></iframe>