@mixin ff-regular() {
  font-family: $font-regular, $font-family-sans-serif;
}
@mixin ff-medium() {
  font-family: $font-medium, $font-family-sans-serif;
}
@mixin ff-semibold() {
  font-family: $font-semibold, $font-family-sans-serif;
}
@mixin ff-semibold-italic() {
  font-family: $font-semibold-italic, $font-family-sans-serif;
}


@function rem($px) {
  @if ($px == 0) { $px: 0px }
  @return ($px / $font-size-root) * 1rem;
}



@mixin break-word() {
  overflow-wrap: break-word; // does not support IE, Firefox; is a copy of word-wrap
  word-wrap: break-word;
}

@mixin nowrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin nowrap-multiline() {
  position: relative;
  overflow: hidden;
  text-align: justify;
  padding-right: 1rem;

  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem;
    background: $body-bg;
  }
}


@mixin placeholder($color: #eee) {
  &:-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

// less than X
@mixin r($width){
	@media only screen and (max-width: $width+ "px"){
    @content;
  }
}

// more than X
@mixin rm($width){
	@media only screen and (min-width: $width+ "px"){
    @content;
  }
}

@mixin notouch{
	@media not all and (-moz-touch-enabled:1), not all and (pointer:coarse), not all and (-ms-high-contrast:none) and (max-width:1024px){
    @content;
  }
}

@mixin vertical{
  text-align: center;
  font-size: 0;

  &:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%
  };
}