/* project_change.scss */

// var ****************************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.cursor {
  .caroufredsel_wrapper,
  .slick-list.draggable {
    cursor: url('/cursor/openhand.cur'), move !important;
    &:active {
      cursor: url('/cursor/closedhand.cur'), move !important;
    }
  }
}