/* g-header.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.g-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  will-change: top;
  border-bottom: 1px solid rgba($color-border-default, 0.5);


  .container {
    max-width: none;
  }


  // bar
  .h-bar {
    background-color: #f5f6f6;
  }

  .h-bar__inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: $header_bar-height;

    @media (max-width: $screen-md-max) {
      justify-content: center;
    }
  }

  .bar-text {
    @media (max-width: $screen-md-max) {
      font-size: rem(12px);
      line-height: rem(14px);
      color: #808487;
      text-align: center;
    }
  }

  .bar-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;

    @media (max-width: $screen-md-max) {
      display: none;
    }

    .menu-item {
      padding: 0 10px;

      > a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        text-decoration: none;

        &:before {
          display: block;
          margin-right: 5px;
          font-size: rem(11px);
        }
      }
    }
  }


  // wrap
  .h-wrap {
    background-color: #fff;
  }

  .h-wrap__inner {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: $header_wrap-height-desk;

    @media (max-width: $screen-md-max) {
      height: $header_wrap-height-mob;
    }
  }


  // logo
  .h-logo {
    @media (max-width: $screen-md-max) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    a {
      display: block;
      text-decoration: none;
    }

    img {
      display: block;
      max-width: 100%;

      @media (max-width: $screen-md-max) {
        max-height: 30px;
      }
    }
  }


  // button
  .h-button {
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }


  // nav
  .h-nav {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 25px 0 40px;
    margin-left: -15px;
    margin-right: -15px;

    @media (max-width: $screen-md-max) {
      display: none;
    }

    .nav-item {
      margin: 0 7px;

      &.nav-item--right {
        margin-left: auto;

        + .nav-item--right {
          margin-left: 15px;
        }
      }


      > a {
        @include ff-medium;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        text-decoration: none;

        &[data-dropdown] {
          @include ic(drop-arrow);
          position: relative;

          &:before {
            font-size: rem(4px);
            order: 2;
            margin: 0 0 0 8px;
            transition: transform .2s;
          }
        }

        &:before {
          display: block;
          margin-right: 8px;
        }
        &:hover{
          color: $color-main-red;
        }
      }


      &.nav-item--promo {

        > a {
          // color: $color-main-red;
        }
      }

      &.active {

        > a {
          // color: $link-hover-color;
          color: $color-main-red;
          &:before {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }


  // dropdown
  .h-drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 10px 50px 30px 50px;
    border-top: 1px solid rgba($color-border-default , 0.5);
    border-bottom: 1px solid rgba($color-border-default , 0.5);

    @media (max-width: $screen-md-max) {
      display: none !important;
    }
  }
  .drop-menu {
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
    &.active {
      display: flex;
    }
    .menu-item {
      padding: 0 5px;
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }
    &__nav{
      display: flex;
      flex-flow: row nowrap;
      width: 70%;
      max-width: 800px;
      padding-top: 35px;
      .menu-item {
        padding: 0 5px;
        width: 25%;
        flex: auto;
        max-width: none;
        &__title{
          display: inline-block;
          text-decoration: none;
          font-size: 15px;
          font-family: $font-medium;
          letter-spacing: 0.17px;
          line-height: 22px;
          color: $color-main-grey;
          margin-bottom: 10px;
          &:hover{
            color: $color-main-red;
          }
        }
        &__list{
          margin: 0;
          padding: 0;
          list-style: none;
        }
        &__unit{
          margin-top: 8px;
        }
        &__link{
          color: $color-main-grey;
          font-family: $font-regular;
          font-size: 15px;
          letter-spacing: 0.17px;
          line-height: 1.5;
          text-decoration: none;
          &:hover{
            color: $color-main-red;
          }
        }
      }
    }
    &__img{
      width: 30%;
      max-width: 390px;
      margin-left: auto;
    }
    .menu-img-category{
      position: relative;
      width: 100%;
      &::before{
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 74%;
      }
      &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 0.15px;
        line-height: 29px;
        font-style: italic;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }


  // burger
  .h-burger {
    position: relative;
    @media (min-width: $screen-lg-min) {
      display: none;
    }

    .btn-burger {
      position: relative;
      display: block;
      width: 22px;
      height: 18px;
      outline: none;
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;

      &:hover {

        .icon {
          &,
          &:before,
          &:after {
            background: $link-hover-color;
          }
        }
      }

      .icon {

        &,
        &:before,
        &:after {
          display: block;
          position: absolute;
          transition: all 0.3s ease;
          width: 100%;
          height: 2px;
          background: $color-main-grey;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:before,
        &:after {
          content: '';
          transform-origin: center;
          will-change: transform;
        }

        &:before {
          margin-top: -7px;
        }

        &:after {
          margin-top: 7px;
        }
      }


      // open
      .mm-opened & {

        .icon {
          background: transparent;

          &:before {
            margin: 0;
            transform: translate(-50%, -50%) rotate3d(0, 0, 1, 135deg) scale(1);
          }

          &:after {
            margin: 0;
            transform: translate(-50%, -50%) rotate3d(0, 0, 1, -135deg) scale(1);
          }
        }
      }
    }
  }


  // search
  .h-search {
    margin-left: 20px;
    margin-right: auto;

    @media (min-width: $screen-lg-min) {
      display: none;
    }

    a {
      display: block;
      text-decoration: none;
      font-size: rem(20px);

      &:before {
        display: block;
      }
    }
  }


  // location
  .h-location {
    @media (min-width: $screen-lg-min) {
      display: none;
    }

    a {
      display: block;
      text-decoration: none;
      font-size: rem(20px);

      &:before {
        display: block;
      }
    }
  }


  // favorite
  .h-favorite {
    margin-right: 20px;
    margin-left: auto;

    @media (min-width: $screen-lg-min) {
      display: none;
    }

    a {
      display: block;
      text-decoration: none;
      font-size: rem(20px);

      &:before {
        display: block;
      }
    }
  }


}
.drop-search{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 30px 50px;
  border-top: 1px solid rgba($color-border-default , 0.5);
  border-bottom: 1px solid rgba($color-border-default , 0.5);
  max-height: calc(98vh - 100px);
  overflow-y: auto;
  @include r(1024) {
    padding: 15px 0 30px 0;
  }
}

.drop-search-inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}
.drop-search-main{
  width: 70%;
  @include r(1024) {
    width: 100%;
  }
}

.drop-search-burger-bttn{
  border: 0;
  padding: 0;
  margin: 0;
  appearance: none;
  background: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s 0s, visibility 0s .2s, z-index 0s .2s;
  .search-opened &{
    opacity: 1;
    z-index: 1;
    pointer-events: all;
    visibility: visible;
    transition: opacity .2s 0s, visibility 0s 0s, z-index 0s 0s;
  }
}

.drop-search-form{
  display: flex;
  align-items: center;
  &__field{
    flex-grow: 1;
    .search-form{
      position: relative;
      input{
        border-radius: 4px;
        border: 1px solid #d7d7d7;
        padding: 13px 15px;
        padding-right: 40px;
        display: block;
        width: 100%;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: 0.17px;
        color: #434a4f;
      }
      button[type="submit"]{
        display: block;
        border: 0;
        padding: 10px;
        margin: 0;
        appearance: none;
        background: none;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1;
      }
    }
  }
  &__bttn{
    flex-shrink: 0;
    margin-left: 40px;
    display: none;
    @include rm(1280) {
      display: block;
    }
    button{
      border: 0;
      padding: 0;
      margin: 0;
      appearance: none;
      background: none;
      display: inline-flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: 0.16px;
      color: $text-color;
      &:before{
        font-size: 12px;
        margin-left: 12px;
      }
    }
  }
}

.drop-search-tile{
  display: flex;
  flex-flow: row wrap;
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 10px;
  margin-top: 30px;
  @include r(768) {
    margin-top: 15px;
  }
  .search-result-card{
    width: calc(25% - 10px);
    margin: 0 5px 10px;
    text-decoration: none;
    @include r(650) {
      width: calc(50% - 10px);
    }
    &__img{
      position: relative;
      font-size: 0;
      margin-bottom: 8px;
      &::before{
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 114.6%;
      }
      img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__title{
      display: flex;
      align-items: center;
      line-height: 1;
    }
    &__name{
      flex-grow: 1;
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      letter-spacing: 0.16px;
      color: $text-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include r(768) {
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.15px;
      }
    }
    &__whish{
      flex-shrink: 0;
      margin-left: 15px;
      color: $red;
      @include r(768) {
        margin-left: 10px;
        font-size: 12px;
      }
    }
    &__subtitle{
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: 0.18px;
      color: rgba($text-color, 0.6);
      @include r(768) {
      }
    }
  }
}

.drop-search-total{
  border-top: 1px solid #d7dadd;
  &__value{
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: 0.18px;
    color: $text-color;
    margin: 20px 0;
  }
}

.drop-search-show{
  margin-bottom: 30px;
  &__link{
    min-width: 180px;
    padding: 15px 20px;
  }
}

.drop-search-aside{
  width: 30%;
  flex-grow: 1;
  padding-left: 65px;
  padding-top: 15px;
  @include r(1024) {
    width: 100%;
    padding: 0;
  }
}

.drop-search-category{
  & + &{
    margin-top: 38px;
  }
  &__title{
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.47;
    letter-spacing: 0.16px;
    color: $text-color;
    padding-bottom: 13px;
    border-bottom: 1px solid #d7dadd;
    margin-bottom: 18px;
  }
  &__list{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      & + li {
        margin-top: 9px;
      }
    }
    a{
      text-decoration: none;
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.31;
      letter-spacing: 0.18px;
      color: $text-color;
      transition: color .2s ease;
      &:hover{
        color: $color-main-red;
      }
    }
  }
  &__subtitle{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.47;
    letter-spacing: 0.16px;
    color: $text-color;
    margin-bottom: 10px;
  }
  &__row{
    margin: 0 -10px;
    display: flex;
    flex-flow: row wrap
  }
  &__item{
    display: inline-block;
    width: 49%;
    padding: 0 10px;
    min-width: 150px;
    flex-grow: 1;
    margin-bottom: 20px;
  }
}