@font-face {
    font-family: "EuclidSquare";
    src: url("fonts/EuclidSquare-Regular.woff") format('woff'), url("fonts/EuclidSquare-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

.download-forms.download-forms__section.vc_row {
    margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
    .download-forms.download-forms__section.vc_row {
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .download-forms.download-forms__section.vc_row {
        max-width: 1210px;
        margin-left: auto;
        margin-right: auto;
    }
}

.download-forms__section {
    line-height: 1.2;
}

.download-forms__section h2 {
    font-family: 'Omnes-Regular', sans-serif;
    font-size: 22px;
    font-style: normal;
}

.download-forms__section p {
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .download-forms__section h2 {
        margin-bottom: 30px;
        font-size: 32px;
    }
    .download-forms__section p {
        font-size: 16px;
    }
}

.download-forms.download-forms__section .vc_tta.vc_general .vc_tta-tabs-list {
    font-family: 'EuclidSquare', sans-serif;
    padding-bottom: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #C4C4C4;
}

.download-forms.download-forms__section .gform_wrapper {
    margin-top: 20px !important;
}

@media only screen and (min-width: 768px) {
    .download-forms.download-forms__section .gform_wrapper {
        margin-top: 45px !important;
    }
}

@media only screen and (min-width: 768px) {
    .download-forms.download-forms__section .vc_tta.vc_general .vc_tta-tabs-list {
        margin-bottom: 40px;
    }
}

.download-forms.download-forms__section .vc_tta-tab > a {
    color: #434A4F !important;
}

.download-forms.download-forms__section .vc_tta-tab.vc_active > a {
    color: #434A4F !important;
    background-color: transparent !important;
}

.download-forms.download-forms__section .vc_tta-tab {
    border: none;
}

.download-forms.download-forms__section .vc_tta-tab span {
    display: inline-block;
}

.download-forms.download-forms__section .vc_tta-tab span:after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background-color: #434A4F;
    transition: all .2s ease-in-out;
}

@media only screen and (min-width: 768px) {
    .download-forms.download-forms__section .vc_tta-tab span:after {
        margin-top: 10px;
    }
}

.download-forms.download-forms__section .vc_tta-tab.vc_active span:after {
    width: 100%;
}

.download-forms.download-forms__section .vc_tta.vc_general .vc_tta-tab {
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
}

.download-forms.download-forms__section .vc_tta.vc_general .vc_tta-tab > a {
    /*padding-left: 15px !important;*/
    /*padding-right: 15px !important;*/
    text-align: center;
    text-transform: none;

}

.download-forms.download-forms__section .vc_tta.vc_general .vc_tta-tab > a {
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 15px;
}

@media only screen and (min-width: 375px) {
    .download-forms.download-forms__section .vc_tta.vc_general .vc_tta-tab > a {
        font-size: 18px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media only screen and (min-width: 768px) {
    .download-forms.download-forms__section .vc_tta.vc_general .vc_tta-tab > a {
        padding-left: 25px !important;
        padding-right: 25px !important;
        font-size: 22px;
    }
}


.download-forms.download-forms__section .vc_tta.vc_general .vc_tta-tab > a:hover {
    color: #f13e4b !important;
    background-color: transparent;
}

.download-forms.download-forms__section .vc_tta.vc_general .vc_tta-tab.vc_active > a:hover {
    color: #434A4F !important;
}


@media only screen and (min-width: 1024px) {
    .download-forms__section .vc_tta-panel-body {
        max-width: 610px;
        margin: 0 auto;
    }
}

.download-forms__section .gform_wrapper ul li.gfield {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.download-forms__section .gform_wrapper ul li.gfield.w-100-field {
    width: 100% !important;
}

.download-forms__section .ginput_container_checkbox .gchoice .gfield-choice-input {
    width: auto !important;
}

.download-forms__section .ginput_container_checkbox .gfield_checkbox .gchoice {
    display: flex;
    align-items: flex-start;
}

.download-forms__section .ginput_container_checkbox .gfield_checkbox .gchoice label {
    color: #434A4F;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
}

.download-forms__section .ginput_container_checkbox .gfield_checkbox .gchoice .gfield-choice-input {
    margin: 2px 10px 0 0;
}

.download-forms__section .top_label .gfield > label {
    color: #434A4F;
    font-size: 15px;
    font-weight: 600 !important;
}

.download-forms__section .gform_legacy_markup_wrapper .gfield_required {
    color: #434A4F;
}

.download-forms__section input[type='text'] {
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-color: #ADADAD;
}

.download-forms__section input[type='checkbox']:checked + label {
    font-weight: 400 !important;
}

.download-forms__section .gform_wrapper ul li.gfield.captcha-field {
    margin-bottom: 35px !important;
}

.download-forms__section .captcha-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .download-forms__section .captcha-field {
        display: block;
        position: relative;
        left: 25%;
    }
}

.download-forms__section .top_label .gfield.captcha-field > label {
    font-weight: 400 !important;
}

.download-forms__section .gform_footer {
    text-align: center;
}

.download-forms__section .gform_footer input[type='submit'].button {
    width: 200px;
    margin: 0;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: #F0414D !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    background-color: #fff !important;
    border: 1px solid #F0414D !important;
}

.download-forms__section .gform_footer input[type='submit'].button:hover {
    color: #fff !important;
    background-color: #F0414D !important;
}

@media only screen and (min-width: 1024px) {
    .download-forms__section .gform_footer input[type='submit'].button {
        width: 300px
    }
}

.download-forms__section .gform_wrapper ul li.gfield select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    padding-left: 10px;
    padding-right: 35px;
    background: right 15px top 50% transparent url("data:image/svg+xml;utf8,<svg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'><g><path d='M0.839355 1.05933L5.00427 5.22424L9.16919 1.05933' stroke='%23666666' stroke-width='2'/></g></svg>") no-repeat;
    border-color: #ADADAD;
}
@media only screen and (min-width: 768px) {
    .download-forms__section .gform_wrapper ul li.gfield select {
        background-position: right 20px top 50%;
    }
}

.download-forms__section .gform_wrapper ul li.gfield .ginput_container select {
    color: #808487;
}

.download-forms__section .gform_confirmation_message {
    margin-top: 30px;
    text-align: center;
    color: green;
}