/* g-footer.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.g-footer {


  // wrap
  .f-wrap {
    background-color: $color-main-grey;
    color: #fff;
  }


  .f-section {
    padding: 60px 0;

    @media (min-width: $screen-md-min) {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }
    @media (max-width: $screen-xs-max) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    + .f-section {
      border-top: 1px solid #808487;
    }
  }


  .section-description {
    @media (min-width: $screen-md-min) {
      max-width: 680px;
      padding-right: 110px;
    }
  }

  .section-description__logo {
    margin-bottom: 16px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  .section-description__title {
    @include ff-medium;
    margin-bottom: 12px;

    @media (max-width: $screen-sm-max) {
      font-size: rem(14px);
      line-height: rem(20px);
    }
  }

  .section-description__text {
    @include clearfix;
    font-size: rem(13px);
    line-height: rem(20px);

    img {
      display: block;
      max-width: 100%;

      &.float-left {
        float: left;
        max-width: 70px;

        ~ p {
          margin-left: 80px;
        }
      }
    }

    p {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  .section-menu {
    @media (max-width: $screen-sm-max) {
      margin-top: 20px;
    }
  }

  .section-menu__title {
    @include ff-medium;
    font-size: rem(18px);
    line-height: rem(24px);
    margin-bottom: 12px;

    @media (max-width: $screen-sm-max) {
      font-size: rem(14px);
      line-height: rem(20px);
    }
  }

  .section-menu__list {
    margin-left: -20px;
    margin-right: -20px;

    @media (min-width: $screen-md-min) {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }


    .list-item {
      padding: 0 20px;
      line-height: 1;

      + .list-item {
        @media (max-width: $screen-sm-max) {
          margin-top: 12px;
        }
      }

      > a {
        @include ff-medium;
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        text-decoration: none;
        font-size: rem(13px);
        line-height: rem(20px);

        @media (min-width: $screen-md-min) {
          white-space: nowrap;
        }

        &.ic-help-email {
          &:before {
            font-size: rem(10px);
          }
        }

        &:before {
          display: block;
          margin-top: -2px;
          margin-right: 10px;
        }
      }
    }
  }



  // bar
  .f-bar {
    background-color: #3c4145;
    color: #fff;
    font-size: rem(12px);
    line-height: rem(20px);
    letter-spacing: 0.2px;
  }


  .f-bar__inner {
    min-height: 50px;
    padding: 15px 0;

    @media (min-width: $screen-md-min) {
      padding-left: 60px;
      padding-right: 60px;
    }
    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }
  }


  .f-bar__part {

    &.part--social {
      @media (min-width: $screen-sm-min) {
        order: 2;
      }
    }

    &.part--copyright {
      @media (min-width: $screen-sm-min) {
        order: 1;
      }
    }

    + .f-bar__part {
      @media (max-width: $screen-xs-max) {
        margin-top: 12px;
      }
    }
  }


  .f-copyright {
    opacity: 0.7;

    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }


  .f-social {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;

    a {
      display: block;
      text-decoration: none;
      font-size: rem(14px);
      margin: 0 15px;

      &.ic-soc-youtube {
        font-size: rem(12px);
      }

      &:before {
        display: block;
      }
    }
  }
}