.header-sort-wrap{
  margin: 15px 0 0 0;
  padding: 0 15px;
}
.list-item-container{
  flex: 0 0 25%;
  padding: 15px;
  @media (max-width: $screen-md-max) {
    flex: 0 0 33%;
  }
  @media (max-width: $screen-sm-max) {
    flex: 0 0 50%;
  }
  @media (max-width: $screen-xs-max) {
    flex: 0 0 100%;
  }
  .list-item{
    padding: 15px;
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-blog-title{
      @include ff-medium;
      color: rgb(67, 74, 79);
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.15px;
      line-height: 24px;
      margin: 7px 0 10px 0;
      display: block;
    }
    .card-link__part{
      text-align: right;
      a{
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
.card-filter-item-wrap{
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
  .card-filter-item{
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.15px;
    margin-right: 7px;
    padding-left: 7px;
    position: relative;
    @include ff-medium;
    &:before{
      background: currentColor;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      position: absolute;
      content: "";
      top: 39%;
      left: 0;
    }
  }
}
.section-blog{
  .counter{
    color: rgb(128, 132, 135);
    @include ff-regular;
    font-size: 15px;
    letter-spacing: 0.16px;
    line-height: 22px;
  }
  .pagination{
    background: white;
    border-right: none;
    .page-numbers{
      color: #808487;
      text-decoration: none;
      border-color: rgb(227, 229, 231);
      transition: all .5s;
      &:hover{
        background: rgb(234, 235, 237);
      }
    }
    .current{
      background: rgb(234, 235, 237);
    }
  }
  .footer-wrap{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $screen-xs-max) {
      justify-content: center;
    }
  }
}
.related-posts{
  background: rgb(245, 246, 246);
  padding: 60px 0;
  .related-articles{
    text-align: center;
  }
  .s-list{
    margin-left: -15px;
    margin-right: -15px;
  }
  .more-wrap{
    margin: 30px auto 0;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .5s;
      margin: 0 auto;
      max-width: 180px;
    }
  }
}
.article-head{
  .article-subtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p{
    margin: 0;
    color: rgb(67, 74, 79);
    @include ff-medium;
  }
  h1{
    @include ff-semibold-italic;
  }
}
.article-image{
  margin-bottom: 30px;
  img{
    width: 100%;
  }
}
.article-container{
  max-width: 785px;
  margin: 0 auto;
  .entry-content{
    margin-bottom: 60px;
  }
}
.article-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    border-radius: 4px;
    border: 1px solid rgb(67, 74, 79);
    width: 100%;
    height: 48px;
    max-width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .5s;
    position: relative;
    line-height: 15px;
    padding: 0 10px;
    @include ff-medium;
    &:hover{
      color: white;
      border-color: $red;
      background: $red;
    }
    .article-navigation-icon{
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.social-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(67, 74, 79);
  font-size: 15px;
  letter-spacing: 0.16px;
  line-height: 22px;
  margin: 30px 0 60px 0;
  border-top: 1px solid rgb(225, 226, 229);
  border-bottom: 1px solid rgb(225, 226, 229);
  padding: 15px;
  .social-items{
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 0 5px;
      &:before{
        font-size: 30px;
        transition: all .5s;
      }
      &:hover{
        color: $red;
      }
      &:last-child{
        margin-right: 0;
      }
      img{
        max-width: 100%;
      }
    }
  }
}

.desktop-related{
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.mobile-related{
  .slick-initialized {
    display: none;
    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }
  .slick-arrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  .btn-next-mobile{
    right: 5px;
  }
  .btn-prev-mobile{
    left: 5px;
  }
}

button.dropdown-toggle div.current-toggle {
  border-radius: 4px;
  border: 1px solid #eaebed;
  line-height: 40px;
  background: #fff url(../images/arrow.png) 97% 53% no-repeat;
  background-size: 10%;
  text-align: left;
  position: relative;
}
.media-group{
  margin: 15px 0;
  display: flex;
  @media (max-width: $screen-xs-max) {
    display: block;
  }
  .media-item{
    margin: 5px;
    .media-item-description{
      margin-top: 7px;
      font-size: 12px;
    }
  }
}