{{#block "spritesheet"}}
@mixin sprite() {
  content: '';
  display: inline-block;
  background-image: url('../images/sprite.png');
}
[class*='sp-']{
  display: inline-block;
  &:before {
    @include sprite;
  }
}
{{/block}}
{{#each sprites}}
@mixin {{name}}() {
  background-position: {{px.offset_x}} {{px.offset_y}};
  width: {{px.width}};
  height: {{px.height}};
}
.{{name}}:before {
  @include {{name}};
}
{{/each}}