/* _icons.scss */

// !IMPORTANT:  Plugin generate this file automatically!
// File template: __iconstemplate.scss
// List of generetated icons:local/src/scss/db.base/__iconstemplate.scss

@font-face {
  font-family: "sprite";
  src:
      url('../fonts/sprite.woff2') format('woff2'),
      url('../fonts/sprite.woff') format('woff');
}

@mixin ic-styles {
  font-family: "sprite";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%ic {
  @include ic-styles;
}

@function ic-char($filename) {
  $char: "";

  @if $filename == arrow-left {
  $char: "\E001";
}
  @if $filename == arrow-right {
  $char: "\E002";
}
  @if $filename == bar-heart {
  $char: "\E003";
}
  @if $filename == bar-phone {
  $char: "\E004";
}
  @if $filename == drop-arrow {
  $char: "\E005";
}
  @if $filename == email {
  $char: "\E006";
}
  @if $filename == facebook {
  $char: "\E007";
}
  @if $filename == help-email {
  $char: "\E008";
}
  @if $filename == help-location {
  $char: "\E009";
}
  @if $filename == help-phone {
  $char: "\E00A";
}
  @if $filename == icon-check {
  $char: "\E00B";
}
  @if $filename == icon-cross {
  $char: "\E00C";
}
  @if $filename == menu-arrow {
  $char: "\E00D";
}
  @if $filename == nav-location {
  $char: "\E00E";
}
  @if $filename == nav-next {
  $char: "\E00F";
}
  @if $filename == nav-prev {
  $char: "\E010";
}
  @if $filename == nav-search {
  $char: "\E011";
}
  @if $filename == pinterest {
  $char: "\E012";
}
  @if $filename == soc-facebook {
  $char: "\E013";
}
  @if $filename == soc-instagram {
  $char: "\E014";
}
  @if $filename == soc-pinterest {
  $char: "\E015";
}
  @if $filename == soc-youtube {
  $char: "\E016";
}
  @if $filename == twitter {
  $char: "\E017";
}

@return $char;
}

@mixin ic($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %ic;
  } @else {
    @include ic-styles;
  }
  content: ic-char($filename);
}
}

.ic-arrow-left {
  @include ic(arrow-left);
}
.ic-arrow-right {
  @include ic(arrow-right);
}
.ic-bar-heart {
  @include ic(bar-heart);
}
.ic-bar-phone {
  @include ic(bar-phone);
}
.ic-drop-arrow {
  @include ic(drop-arrow);
}
.ic-email {
  @include ic(email);
}
.ic-facebook {
  @include ic(facebook);
}
.ic-help-email {
  @include ic(help-email);
}
.ic-help-location {
  @include ic(help-location);
}
.ic-help-phone {
  @include ic(help-phone);
}
.ic-icon-check {
  @include ic(icon-check);
}
.ic-icon-cross {
  @include ic(icon-cross);
}
.ic-menu-arrow {
  @include ic(menu-arrow);
}
.ic-nav-location {
  @include ic(nav-location);
}
.ic-nav-next {
  @include ic(nav-next);
}
.ic-nav-prev {
  @include ic(nav-prev);
}
.ic-nav-search {
  @include ic(nav-search);
}
.ic-pinterest {
  @include ic(pinterest);
}
.ic-soc-facebook {
  @include ic(soc-facebook);
}
.ic-soc-instagram {
  @include ic(soc-instagram);
}
.ic-soc-pinterest {
  @include ic(soc-pinterest);
}
.ic-soc-youtube {
  @include ic(soc-youtube);
}
.ic-twitter {
  @include ic(twitter);
}