@mixin sprite() {
  content: '';
  display: inline-block;
  background-image: url('../images/sprite.png');
}
[class*='sp-']{
  display: inline-block;
  &:before {
    @include sprite;
  }
}
@mixin sp-dislike-dark() {
  background-position: 0px 0px;
  width: 23px;
  height: 23px;
}
.sp-dislike-dark:before {
  @include sp-dislike-dark;
}
@mixin sp-like-dark() {
  background-position: -25px 0px;
  width: 23px;
  height: 23px;
}
.sp-like-dark:before {
  @include sp-like-dark;
}
@mixin sp-soc-fb-dark() {
  background-position: -13px -47px;
  width: 10px;
  height: 20px;
}
.sp-soc-fb-dark:before {
  @include sp-soc-fb-dark;
}
@mixin sp-soc-fb() {
  background-position: 0px -47px;
  width: 11px;
  height: 20px;
}
.sp-soc-fb:before {
  @include sp-soc-fb;
}
@mixin sp-soc-inst() {
  background-position: -27px -25px;
  width: 16px;
  height: 16px;
}
.sp-soc-inst:before {
  @include sp-soc-inst;
}
@mixin sp-soc-mail-dark() {
  background-position: -50px 0px;
  width: 24px;
  height: 16px;
}
.sp-soc-mail-dark:before {
  @include sp-soc-mail-dark;
}
@mixin sp-soc-tw-dark() {
  background-position: 0px -25px;
  width: 25px;
  height: 20px;
}
.sp-soc-tw-dark:before {
  @include sp-soc-tw-dark;
}
@mixin sp-soc-yt() {
  background-position: -50px -18px;
  width: 21px;
  height: 13px;
}
.sp-soc-yt:before {
  @include sp-soc-yt;
}
