@mixin ic2() {
  content: ' ';
  display: inline-block;
  font-size: 10px;
  background-image: url("../images/sprite_svg.svg");
  background-repeat: no-repeat;
  background-size: 4.1em 2.9em;

  .no-svg & {
    background-image: url("../images/sprite_svg.png");
  }
}

[class*='ic2-'] {
  display: inline-block;

  &:before {
    @include ic2;
  }
}

@mixin ic2-icon-quote() {
  background-position: -0.2em -0.2em;
  width: 3.7em;
  height: 2.5em;
}

.ic2-icon-quote {

  &:before {
    @include ic2-icon-quote;
  }
}
