/* layout.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

body {

}


.g-wrap {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;

  &.g-wrap--overlay {

    &:after {
      visibility: visible;
      opacity: 1;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-main-grey, 0.65);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}


.g-main {
  margin-bottom: auto;
  padding-top: ($header_bar-height + $header_wrap-height-desk);

  @media (max-width: $screen-md-max) {
    padding-top: ($header_bar-height + $header_wrap-height-mob);
  }
}


.container {
  @media (min-width: $screen-sm-min) {
    width: calc(100% - (#{$page-gutter-width} - #{$grid-gutter-width}));
  }

  &.container--fluid {
    max-width: none;
  }
}

.packaging {
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;

  @include r(900) {
    padding: 0 14px;
  }
}

.packaging-product {
  width: 100%;
  max-width: 1240px;
  padding: 20px 30px 0;
  margin: 0 auto;

  @include r(900) {
    padding: 20px 14px 0;
  }
}

svg {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.pagination {
  display: inline-block;
  margin-left: auto;
  border: 1px solid #e3e5e7;

  &-item {
    display: inline-block;
    text-decoration: none;
    color: #808487;
    font-family: $font-regular;
    font-size: 15px;
    letter-spacing: 0.16px;
    padding: 11px 15px;
    text-align: center;

    &:not(:last-child) {
      border-right: 1px solid #e3e5e7;
    }
  }

  &-wrap {
    margin-bottom: 45px;

    @include rm(1201) {
      text-align: right;
    }
  }
}

.vantage {
  padding: 40px 0 60px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  @include r(900) {
    flex-flow: column nowrap;
    padding: 30px 0;
  }
}

.come-to-us {
  margin-top: 50px;
  padding: 115px 0 120px;
  background-color: #f5f6f6;

  @include r(900) {
    padding: 50px 0;
  }


  &__bttns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 26px;

    .button {
      min-width: 246px;
      margin: 10px;
    }
  }
}

.carpet-story {
  background-color: #53595e;
  padding: 50px 0;
  font-size: 0;
  font-family: $font-regular;
  color: $white;
  letter-spacing: 0;

  & * {
    color: $white;
  }

  @include r(900) {
    padding: 60px 0 50px 0;
  }


  &__title {
    font-size: 18px;
    line-height: calc(24/18);
    font-weight: 500;
    letter-spacing: 0.15px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-right: 20px;
    margin-bottom: 15px;

    @include r(900) {
      display: block;
      width: 100%;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    width: 75%;

    @include r(900) {
      display: block;
      width: 100%;
    }
  }

  p {
    font-size: 13px;
    line-height: calc(20/13);
    letter-spacing: 0.15px;
    margin: 0;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.crumps {}

.crumps-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
  padding: 0;

  &__item {
    font-family: $font-regular;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15px;
    margin-bottom: 5px;

    &:not(:last-child) {
      &::after {
        content: ">";
        color: rgba(#000000, 0.5);
        margin: 0 3px;
      }
    }

    a {
      color: rgba(#000000, 0.5);
      text-decoration: none;
    }

    span {
      color: $text-color;
    }
  }
}

.category-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 0;
  margin-bottom: 20px;
  @include r(900) {
      padding-top: 20px;
  }

  &__sidebar {
      position: relative;
      width: 100%;

      @include rm(1201) {
          width: 25%;
          max-width: 400px;
          padding-right: 20px;
      }
  }

  &__main {
    flex-grow: 1;

    @include rm(1201) {
        width: 70%;
        max-width: 980px;
    }

    @include r(900) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &.swatch, &.room{
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.filters-sticky{
  position: relative;
}

.product-grid {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 80px;
  @include r(900){
    margin-bottom: 50px;
  }

  &__media {
    width: 100%;

    @include rm(901) {
      width: 52%;
    }
  }

  &__description {
    width: 100%;

    @include rm(901) {
      width: 48%;
      max-width: 460px;
      margin-left: auto;
      padding-left: 20px;
    }
    @include r(900) {
      display: flex;
      flex-flow: column nowrap;
      .product-extend{
        order: 0;
      }
      .producr-button-wrap{
        order: 1;
      }
      .product-description{
        order: 2;
        border-top: solid 1px #e8eced;
        padding-top: 20px;
      }
      .product-selector{
        order: 3;
      }
      .product-info{
        order: 4;
      }
    }
  }
}
.item-label{
  margin-right: 10px;
}
.category-grid-selector{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  @include r(900){
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
.category-sorter{
  display: flex;
  align-items: center;
  .category-type-sort-items{
    &.open{
      .f-dropdown-menu{
        display: block;
      }
    }
    .drop-item{
      a{
        text-decoration: none;
      }
      span{
        color: $red;
      }
    }
    .f-dropdown-menu {
      display: none;
      position:absolute;
      top: 100%;
      left: 0;
      background: #fff;
      padding: 0 15px;
      z-index: 3;
      width: 100%;
    }
    .dropdown-toggle {
      width: 100%;
      background: transparent;
      display: flex;
      align-items: center;
      max-width: 100%;
      padding: 0;
      border: none;
      .filter-label {
        color: #808487;
      }
      .current-toggle {
        max-width: 150px;
        width: 100%;
        padding: 0 15px;
      }
    }
    button.dropdown-toggle .current-toggle {
      border-radius: 4px;
      border: 1px solid #eaebed;
      line-height: 40px;
      background: #fff url(../images/arrow.png) 97% 53% no-repeat;
      background-size: 10%;
      text-align: left;
      position: relative;
      min-width: 200px;
    }
  }
}
.category-type-switcher {
  display: flex;
  align-items: center;
  margin-left: 15px;
  @media (max-width: $screen-md-max) {
    margin-left: 0;
    margin-top: 15px;
  }
  .category-type-switcher-items{
    display: flex;
    align-items: center;
    .separator {
      height: 30px;
      width: 1px;
      margin: 0 5px;
      background: rgba(219,219,219,.5);
    }
    .category-type-switcher-item{
      cursor: pointer;
      &.active{
        font-weight: bold;
      }
    }
  }
}
.category-description {
  margin: 0 auto 40px auto;
  text-align: center;
  max-width: 820px;
  letter-spacing: 0.77px;
  padding: 0 15px;
  p {
    margin: 5px 0;
  }
}
.product-card {
  &.swatch, &.room{
    border: 0;
    flex: 0 0 100%;
    padding: 15px;
    margin: 0 !important;
    @include rm(560) {
      flex: 0 0 50%;
      width: 50%;
    }
    @include rm(991) {
      flex: 0 0 33.3%;
      width: 33.33%;
    }
    .product-card-inner{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .product-card-image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 390px;
        display: block;
        position: relative;
        text-decoration: none;
        overflow: hidden;
        &:hover{
          span{
            bottom: 0;
          }
        }
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: -60px;
          left: 0;
          right: 0;
          padding: 15px;
          background: rgba(100,100,100,0.5);
          transition: all .5s;
          color: white;
        }
        &__sale{
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 1;
          display: inline-block;
          padding: 3px 10px;
          font-family: $font-medium;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.33;
          letter-spacing: 0.15px;
          color: #ffffff;
          background: #ff3858;
          border-radius: 4px;
          pointer-events: none;
        }
      }
      .product-card-footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 7px 0;
        .product-card__title{
          max-width: 90%;
          margin: 0;
        }
        .product-card-price{
          margin-top: 5px;
        }
      }
      .product-card-extend{
        display: flex;
        flex-flow: row wrap;
      }
      .product-card-variety{
        font-size: 15px;
        line-height: 1.47;
        letter-spacing: 0.16px;
        color: #808487;
        position: relative;
        top: -3px;
        max-width: 60%;
        margin-bottom: 6px;
      }
      .product-card-price{
        display: inline-flex;
        flex-flow: column;
        margin-left: auto;
        text-align: right;
        flex-shrink: 0;
        padding-left: 10px;
        &__value{
          line-height: 0;
          span{
            display: inline-block;
            font-family: $font-medium;
            font-size: 15px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.16px;
            color: #434a4f;
            &.-old{
              margin: 0 6px;
              color: #b4b7b9;
              text-decoration: line-through;
              position: relative;
            }
            &.-new{
              color: #ff1f43;
            }
          }
        }
        &__unit{
          font-family: $font-regular;
          font-size: 12px;
          line-height: normal;
          letter-spacing: 0.15px;
          text-align: right;
          color: #808487;
        }
      }
      .product-card-special{
        width: 100%;
        position: relative;
        padding-right: 55px;
        &__item{
          display: inline-block;
          position: relative;
          top: -9px;
          border: solid 1px #434a4f;
          padding: 4px 9px;
          font-family: $font-medium;
          font-size: 13px;
          font-weight: 500;
          font-stretch: normal;
          font-style: italic;
          line-height: normal;
          letter-spacing: 0.16px;
          color: #434a4f;
          b{
            font-family: $font-semibold;
            color: currentColor;
            font-weight: 600;
          }
        }
      }
    }
    .whishlist{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
    }
    .yith-wcwl-add-to-wishlist{
      margin: 0;
      #cpm_wishlist_popup, .cpm_add_to_wishlist{
        display: block !important;
        padding: 0 !important;
        background: none !important;
        color: $red !important;
        width: 18px;
        height: 16px;
        overflow: hidden;
      }
    }
  }
  .modal.show{
    display: flex !important;
    justify-content: center;
    align-items: center;
    opacity: 1;
    top: 0 !important;
  }
}

.category-content{
  &--center{
      text-align: center;
      max-width: 670px;
      margin: 0 auto;
      margin-bottom: 36px;
  }
  &--align_r{
    @include rm(1201) {
        width: 75%;
        max-width: 980px;
        margin-right: 0;
        margin-left: auto;
    }
  }
}

h2, .h2{
  font-style: italic;
  font-weight: 500;
  color: $text-color;
  font-family: $font-medium;
  font-size: 26px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
  @media (max-width: 768) {
      font-size: 20px;
  }
}
p, .text{
  font-family: $font-family-base;
  font-size: 15px;
  line-height: calc(22/15);
  letter-spacing: 0.17px;
  margin: 5px;
}
.text{
  color: $text-color;
}

.category-head {
  background-color: #808487;
  min-height: 245px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: #808487;
    opacity: .7;
  }
  h1 {
    font-style: italic;
    font-weight: 500;
    font-family: $font-medium;
    color: $white;
    text-align: center;
  }
}

.button {
  $this: &;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 17px 18px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  line-height: calc(16/15);
  font-size: 15px;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  transition: all 0.3s;
  pointer-events: auto;
  letter-spacing: 0.17px;
  background: $red;
  color: $white;
  transition: all .2s;
  &:hover{
    background: $text-color;
    text-decoration: none;
    color: $white;
    transition: all .2s;
  }
}
.measure-button {
  $this: &;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 17px 18px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  line-height: calc(16/15);
  font-size: 15px;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  transition: all 0.3s;
  pointer-events: auto;
  letter-spacing: 0.17px;
  background: $red;
  color: $white;
  transition: all .2s;
  &:hover{
    // background: $red;
    background: $text-color;
    text-decoration: none;
    color: $white;
    transition: all .2s;
  }
}

.wish-button {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  color: $red;
  padding: 10px;
  height: 50px;
  border: none;
  background: none;
  box-sizing: border-box;

  &:hover,
  &.is-active {
    .hear-icon-bg {
      opacity: 1;
    }
  }

  &__icon {
    margin-right: 8px;
    flex-shrink: 0;
  }

  &__text {
    font-family: $font-medium;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.17px;
  }

  .hear-icon {
    &-bg {
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}

.like-button {
  $this: &;

  display: inline-flex;
  flex-flow: row nowrpa;
  color: $text-color;
  border: none;
  background: none;
  padding: 0 10px;

  &.is-active,
  &:hover {
    #{$this}__icon {
      color: $green;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    font-size: 0;
    transition: color 0.2s;
  }

  &__count {
    margin-left: 6px;
    font-size: 15px;
    line-height: calc(22/15);
    font-weight: 400;
    letter-spacing: 0.17px;
  }
}

.dislike-button {
  $this: &;

  display: inline-flex;
  flex-flow: row nowrpa;
  color: $text-color;
  border: none;
  background: none;
  padding: 0 10px;

  &.is-active,
  &:hover {
    #{$this}__icon {
      color: $red;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    font-size: 0;
    transition: color 0.2s;
  }

  &__count {
    margin-left: 6px;
    font-size: 15px;
    line-height: calc(22/15);
    font-weight: 400;
    letter-spacing: 0.17px;
  }
}

.star-rating{
  font-size: 0;
  line-height: 0;
  path{
    stroke: #d3ced2;
  }
  &--one{
    & path:first-child{
      fill: #00b262;
      stroke: #00b262;
    }
  }
  &--two{
    path:nth-of-type(-n+2){
      fill: #00b262;
      stroke: #00b262;
    }
  }
  &--three{
    path:nth-of-type(-n+3){
      fill: #00b262;
      stroke: #00b262;
    }
  }
  &--four{
    path:nth-of-type(-n+4){
      fill: #00b262;
      stroke: #00b262;
    }
  }
  &--five{
    path:nth-of-type(-n+5){
      fill: #00b262;
      stroke: #00b262;
    }
  }
}