//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6  {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
  text-transform: $headings-transform;
  letter-spacing: $headings-letter-spacing;
  font-size: rem($headings-font-size);
  line-height: rem($headings-line-height);

  @media (max-width: $screen-xs-max) {
    font-size: rem($headings-font-size-small);
    line-height: rem($headings-line-height-small);
  }
}

/*h1, .h1 {
  @include font-size($h1-font-size);
  line-height: rem($h1-line-height);

  @media (max-width: $screen-xs-max) {
    @include font-size($h1-font-size-small);
    line-height: rem($h1-line-height-small);

  }
}
h2, .h2 {
  @include font-size($h2-font-size);
  line-height: rem($h2-line-height);

  @media (max-width: $screen-xs-max) {
    @include font-size($h2-font-size-small);
    line-height: rem($h2-line-height-small);
  }
}
h3, .h3 {
  @include font-size($h3-font-size);
  line-height: rem($h3-line-height);
}
h4, .h4 {
  @include font-size($h4-font-size);
  line-height: rem($h4-line-height);
}
h5, .h5 {
  @include font-size($h5-font-size);
  line-height: rem($h5-line-height);
}
h6, .h6 {
  @include font-size($h6-font-size);
  line-height: rem($h6-line-height);
}*/


//
// Reset margins on paragraphs
//

p, .p {
  color: inherit;
}


//
// Emphasis
//

.lead {
  @media (min-width: $screen-sm-min) {
    @include font-size($lead-font-size);
    line-height: rem($lead-line-height);
  }
}

small,
.small {
  @include font-size($small-font-size);
  line-height: rem($small-line-height);
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: none;
  border-top: $hr-border-width solid $hr-border-color;
}


b,
strong {
  @include ff-medium;
  font-weight: normal;
  color: $headings-color;
}


a {
  color: inherit;
  transition: color 0.2s ease;
}


//
// Lists
//
ul, ol {

  &.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}


//
// Bootstrap 3 fix
//
.collapse {
  &.in {
    display: block !important;
  }
}

.fade {
  &.in {
    opacity: 1 !important;
  }
}