.product-selector {
  margin-bottom: 50px;
  @include r(900){
    max-width: 500px;
  }
  @include r(768){
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    display: flex;
    flex-flow: row wrap;
    font-size: 18px;
    font-weight: 500;
    font-family: $font-medium;
    letter-spacing: 0.15px;
    line-height: 24px;
    margin-bottom: 10px;

    &-select {
      margin-left: 20px;
      font-size: 16px;
      font-weight: 100;
      font-family: $font-regular;
    }
  }
}

.product-selector-inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  @include r(900){
    flex-flow: column nowrap;
  }
}

.product-selector-preview {
  display: block;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  max-width: 204px;
  @include r(900){
    max-width: none;
    margin-bottom: 20px;
  }
  &:hover{
    & .product-selector-preview__button{
      opacity: 1;
    }
  }

  &::before {
    content: "";
    width: 100%;
    padding-bottom: 100%;
    display: block;
    @include r(900){
      padding-bottom: 50%;
    }
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: left center;
    background-size: cover;
    opacity: 0;  
    &.is-visible {
      opacity: 1;
    }
  }
  &__button{
    display: block;
    text-align: center;
    background-color: rgba(67, 74, 79, 0.44);
    padding: 6px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .25s;
    span{
      text-decoration: underline;
    }
  }
}

.product-selector-thumbs {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 240px;
  margin-top: -7px;
  margin-bottom: -7px;
  padding-left: 15px;
  @include r(900){
    // height: auto;
    flex-flow: row wrap;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }

  &__item {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: border-color 0.2s;
    margin: 7px 10px;
    @include r(900){
      margin: 7px;
    }

    &.is-active {
      border-color: $red;
    }

    @include r(900) {
      width: 64px;
      height: 64px;
    }
  }

  &__img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;

    @include r(900) {
      width: 50px;
      height: 50px;
    }


    img {
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}