/*--------------------------------------------------------------
 * ## visual composer
 *--------------------------------------------------------------
 */
.cc-gallery-img.grayscale:hover img, .cc-gallery-img.grayscale:focus img, .isotope-item.grayscale:hover img, .isotope-item.grayscale:focus img{
    filter: gray; /* For IE6-9 */
    filter: grayscale(1); /* For Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* For Google Chrome, Safari 6+ & Opera 15+ */
} .vc_row-has-fill {overflow: hidden; } .vc_separator.vc_sep_color_grey .vc_sep_line {border-color: #b2b2b3; height: 2px; } .bgcolor-fill {position: absolute; height: 100%; top: 0; left: 0; right: 0; width: 100%; } body .vc_separator h4 {font-size: 24px; color: #303133; } .vc_separator .vc_sep_holder .vc_sep_line {border-color: #b2b2b3; } @media screen and (min-width: 768px) {body .vc_row {margin-left: -5px; margin-right: -5px; } body .vc_column_container > .vc_column-inner {padding-left: 5px; padding-right: 5px; } }
/*--------------------------------------------------------------
 * ## CC-hover-block
 *--------------------------------------------------------------
 */ .cc-hover-block {padding: 15px 20px; max-width: 300px; margin-left: auto; margin-right: auto; -webkit-transition: background-color 300ms linear; -moz-transition: background-color 300ms linear; -o-transition: background-color 300ms linear; -ms-transition: background-color 300ms linear; transition: background-color 300ms linear; } .cc-hover-block > a {display: block; } .vc_column_container:last-child .cc-hover-block {border: 0; } @media screen and (min-width: 768px) {.cc-hover-block {border-right-color: #54c6d3; border-right-style: solid; border-right-width: 3px; margin-left: -5px; margin-right: -5px; } } .cc-hover-block, .cc-hover-block a {color: #777788; } .cc-page-title {text-align: center; margin: 0 auto; } .cc-hover-block a:hover hr, .cc-hover-block a:focus hr {background: #fff; } @media screen and (min-width: 768px) {} .tips-overlay {position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; } .pg-link-hover-text {height: 100%; opacity: 0; position: absolute; top: 0; text-align: center; left: 0; right: 0; width: 100%; } .cc-hover-block:hover .pg-link-hover-text{opacity: 1; } .pg-link-hover-text span{display: table; width: 100%; height: 100%; } .pg-link-hover-text span h3{display: table-cell; vertical-align: middle; padding: 0 5px; } .pg-link-hover-text span h3:before, .pg-link-hover-text span h3:after {position: absolute; width: 60%; height: 2px; left: 0; right: 0; background: #fff; content: ''; -webkit-transition: opacity 0.3s, height 0.3s; -moz-transition: opacity 0.3s, height 0.3s; transition: opacity 0.3s, height 0.3s; margin-right: auto; margin-left: auto; } .pg-link-hover-text span h3:before{top: 35%; } .pg-link-hover-text span h3:after {bottom: 35%; } .cc-hover-block[data-active="true"] a, .cc-hover-block[data-active="true"] .cc-page-title{color: #ffffff !important; } .cc-hover-block[data-active="true"] hr{background: #ffffff !important; } .cc-hover-block[data-active="true"] .pg-link-hover-text{background: #54c6d3; } .cc-hover-block[data-active="true"] .pg-link-hover-text span h3{color: #ffffff; }
/*--------------------------------------------------------------
 * ## Newsletter Section
 *--------------------------------------------------------------
 */ .newsletter-section {font: 400 19px/1.2 'Montserrat', sans-serif; } .cc-call-to-action, .inline-group {display: inline-block; } .cc-call-to-action {margin-bottom: 30px; } .cc-call-to-action h3 {margin: 0 15px 0; vertical-align: middle; } .btn-cta {background: #fff; border-radius: 0; color: #ee2d24; font: 700 18px/1.2 'Montserrat', sans-serif; text-transform: uppercase; width: 162px; } @media only screen and (max-width: 991px) {.cc-call-to-action {text-align: center; } .btn-cta {margin: 20px auto; } }
/*--------------------------------------------------------------
 * ## cc-designer-troubleshoot
 *--------------------------------------------------------------
 */ .cc-designer-troubleshoot {border: 1px solid #e9e8e8; -webkit-box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, .1); -moz-box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, .1); -ms-box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, .1); -o-box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, .1); box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, .1); } .cc-designer-troubleshoot a {color: #777788; } .cc-designer-troubleshoot a .cc-designer-troubleshoot-img {max-height: 250px; overflow: hidden; position: relative; } .cc-designer-troubleshoot a img {cursor: pointer; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; } .cc-designer-troubleshoot a:hover img {-webkit-transform: scale(1.6); -moz-transform: scale(1.6); -ms-transform: scale(1.6); -o-transform: scale(1.6); transform: scale(1.6); } .cc-designer-troubleshoot .troubleshoot-content {padding: 22px 20px 32px; } .cc-designer-troubleshoot .cc-ts-title, .cc-designer-troubleshoot .cc-ts-date {color: #303133; font-weight: 600; text-align: center; } .cc-designer-troubleshoot .cc-ts-title {font-size: 20px; text-transform: uppercase; } .cc-designer-troubleshoot .cc-ts-date {font-size: 14px; margin-bottom: 25px; }
/*--------------------------------------------------------------
 * ## CC-Hover Gallery
 *--------------------------------------------------------------
 */ .cc-gallery {max-width: 400px; margin: 0 auto; } @media only screen and (max-width: 767px) {.cc-gallery {margin-top: 15px; margin-bottom: 15px; } } .cc-gallery .cc-gallery-img {display: block; overflow: hidden; position: relative; } .cc-gallery .cc-gallery-img {height: 300px; overflow: hidden; } .vc_col-md-3 .cc-gallery .cc-gallery-img {height: 275px; } .cc-gallery .cc-gallery-zoom img {cursor: pointer; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; } .cc-gallery a:hover .cc-gallery-zoom img, .cc-gallery a:focus .cc-gallery-zoom img, .cc-gallery-zoom a:hover img {-webkit-transform: scale(1.6); -moz-transform: scale(1.6); -ms-transform: scale(1.6); -o-transform: scale(1.6); transform: scale(1.6); } .default-overlay {display: block; position: absolute; top: 0; left: 0; right: 0; width: 100%; background: rgba(0, 0, 0, 0.2); height: 100%; } .figure-cross {position: absolute; top: 0; left: 0; right: 0; margin: 0 auto; text-align: center; height: 100%; width: 100%; } .cc-gallery-title {display: table; width: 100%; height: 100%; } .figure-cross .span-cross, .cc-gallery.cc-hover-only .figure-cross .hover-cross {position: relative; padding: 0 5px; display: table-cell; vertical-align: middle; font: 600 30px/1.2 'Omnes', sans-serif; -webkit-transition: color 0.3s; -moz-transition: color 0.3s; transition: color 0.3s; } .cc-gallery.cc-hover-only .figure-cross .cc-btn{margin-top: 15px;} .cc-gallery.cc-hover-only .figure-cross .hover-cross {display: block; } .figure-cross .span-cross i.line, .figure-cross .span-cross i.line, .cc-gallery.cc-hover-only .figure-cross .hover-cross i.line, .cc-gallery.cc-hover-only .figure-cross .hover-cross i.line{position: absolute; left: 20%; right: 20%; top: 50%; height: 2px; margin-top: -1px; background: #ffffff; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; pointer-events: none; } .figure-cross .span-cross i.line.top, .cc-gallery.cc-hover-only .figure-cross .hover-cross i.line.top {-webkit-transform: translateY(-50px); -moz-transform: translateY(-50px); transform: translateY(-50px); } .figure-cross .span-cross i.line.bottom, .cc-gallery.cc-hover-only .figure-cross .hover-cross i.line.bottom {-webkit-transform: translateY(50px); -moz-transform: translateY(50px); transform: translateY(50px); } .cc-gallery.cc-hover-only a:hover .figure-cross .span-cross, .cc-gallery.cc-hover-only a:focus .figure-cross .span-cross {opacity: 0; } .cc-gallery a .figure-cross .span-hover {z-index: 1; display: block; padding: 8px 0 0 0; position: absolute; top: 0%; left: 0; right: 0; text-align: center; opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); transform: translateY(100%); } .cc-gallery a:hover .figure-cross .span-hover, .cc-gallery a:focus .figure-cross .span-hover {opacity: 1; -webkit-transform: translateY(0); -moz-transform: translateY(0); transform: translateY(0); } .cc-gallery a:hover .figure-cross .span-hover .span-cross, .cc-gallery a:focus .figure-cross .span-hover .span-cross {opacity: 1; } .cc-gallery.cc-hover-only span.hover-subtext {display: block; margin-top: 50px; } .grid {background: #DDD; }
/*--------------------------------------------------------------
 * ## CC-Isotope
 *--------------------------------------------------------------
 */ #isotope-list .wpb_wrapper, #cc-isotope-list .wpb_wrapper {position: relative; width: 100.1%; width: calc(100% + 1px); } #cc-isotope-list {position: relative; left: 0; box-sizing: border-box; width: 100%; } .isotope-filter {text-align: center; } .isotope-filter #filters {border: 1px solid #54c6d3; display: inline-block; list-style: none; margin: 45px auto; padding: 0; text-align: center; } .isotope-filter #filters li {float: left; } .isotope-filter #filters li a {border-right: 1px solid #54c6d3; color: #54c6d3; display: block; font: 700 14px/1.2 'Montserrat', sans-serif; padding: 12px 10px; text-transform: uppercase; } .isotope-filter #filters li a.selected, .isotope-filter #filters li a:hover, .isotope-filter #filters li a:focus {background: #54c6d3; color: #fff; } .isotope-filter #filters li:last-child a {border: 0; } .isotope-item {overflow: hidden; } .isotope-item img {height: 100%; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; } #page-modal-popup .isotope-item img {height: auto; } .isotope-item .isotope-hover-only:hover img, .isotope-item .isotope-hover-only:focus img {-webkit-transform: scale(1.6); -moz-transform: scale(1.6); -ms-transform: scale(1.6); -o-transform: scale(1.6); transform: scale(1.6); } .masonry_gallery_zoom:hover img {-webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); transform: scale(1.3); } .masonry_gallery_zoom .bg-img {display: none; } .isotope-item.isotope-1xh.isotope-2xw img {height: auto; } .isotope-2xw {width: 33.3%; } #page-modal-popup .isotope-2xw  {width: 49.9%; } .isotope-4xw {width: 24.9%; } #page-modal-popup .isotope-4xw  {width: 49.9%; } .isotope-1xw {width: 16.6%; } #page-modal-popup .isotope-1xw {width: 24.98%; } .isotope-6xw {width: 49.9%; } .isotope-8xw {width: 49.9%; } .isotop-content {height: 100%; position: absolute; top: 0; left: 0; right: 0; width: 100%; } .isocontent-wrap {display: table; width: 100%; height: 100%; } @media screen and (max-width: 767px) {.isotope-filter #filters li {width: 100%; } .isotope-filter #filters li a {border-right-width: 0; } } .idea-hover-overlay {position: absolute; opacity: 0; filter: alpha(opacity=0); /* For IE8 and earlier */ top: 0; height: 100%; width: 100%; left: 0; right: 0; text-align: center; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateY(100%); -moz-transform: translateY(100%); transform: translateY(100%); } .isotope-hover-only.isotope-item:hover .isocontent-wrap-default, .isotope-hover-only.isotope-item:focus .isocontent-wrap-default {opacity: 0; filter: alpha(opacity=0); /* For IE8 and earlier */ } .isotope-item:hover .idea-hover-overlay, .isotope-item:focus .idea-hover-overlay {opacity: 1; filter: alpha(opacity=10); /* For IE8 and earlier */ -webkit-transform: translateY(0); -moz-transform: translateY(0); transform: translateY(0); } .isocontent-span {display: table-cell; vertical-align: middle; } .isocontent-span span {display: block; color: #fff; padding-left: 15px; padding-right: 15px; text-align: center; } .isocontent-wrap .idea-title {font-size: 24px; font-weight: 600; padding: 15px; position: relative; margin-bottom: 20px; } .isocontent-wrap .idea-excerpt {font-size: 20px; } .isotope-seperator {position: absolute; left: 20%; right: 20%; height: 2px; margin-top: -1px; background: #ffffff; } .seperator-top {top: 0; } .seperator-bottom {bottom: 0; } .nostalgic-charm.isotope-2xw.isotope-background{width: 33.26%; } .fancybox-inner {height: auto !important; }
/*FULL-WIDTH IDEA GALLERY (MASONARY)*/
.masonary-item{overflow: hidden; position: relative; } .masonary-item img, .masonary-item .bg-img, .masonary-item .content{width: 100%; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; } .masonary-item .bg-img{background-size: cover !important; background-position: top center !important; height: 100%; position: absolute; width: 100%; } .masonary-item.masonry_gallery_zoom:hover .bg-img{-webkit-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2); }
/***** MASONARY-ITEM OVERLAY-TITLE *****/
.masonary-item.overlay-title .content{background: transparent; bottom: 0; height: 100%; left: 0; padding: 0 15px; position: absolute; right: 0; top: 0; text-align: center; z-index: 10; } .masonary-item.overlay-title .content h3{color: #ffffff; display: inline-block; font-size: 36px; font-weight: 500; line-height: 50px; padding-bottom: 10px; padding-top: 10px; position: relative; margin-top: 0; text-align: center; margin-bottom: 0px; } .masonary-item.overlay-title .content .masonry-sub {color: rgb(255, 255, 255); display: block; font-size: 20px; padding-top: 5px; } .line-top, .line-bottom {height: 3px !important; display: block; width: 60%; margin: 0 auto; }
/***** MASONARY-ITEM ROLLOVER-TITLE *****/ .masonary-item.rollover-title img, .masonary-item.rollover-title .bg-img{width: 100%; -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); } .masonary-item.rollover-title:hover img, .masonary-item.rollover-title:hover .bg-img{-webkit-transform: translateY(-60px); -ms-transform: translateY(-60px); -o-transform: translateY(-60px); transform: translateY(-60px); } .masonary-item.rollover-title .content{background: red; bottom: 0; left: 0; min-height: 62px; padding: 20px 15px 10px; position: absolute; right: 0; text-align: left; z-index: 10; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); -o-transform: translateY(100%); transform: translateY(100%); } .masonary-item.rollover-title:hover .content{-webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); } .masonary-item.rollover-title .content h3{color: #ffffff; margin: 0; padding-bottom: 0; text-align: left; } .masonary-item.rollover-title .content h3:before{display: none; } .masonary-item .vid-pop-up, .cc-hover-block .vid-pop-up{display: none; }
/*-------------------------------------------------------------------------------------------------------------------*\
                                                #RESPONSIVE
\*-------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1199px) {.masonary-item.overlay-title .content h3{font-size: 30px; line-height: 40px; } .masonary-item.overlay-title .content h3:before{height: 5px; } } @media ( max-width: 991px ){.masonary-item.overlay-title .content h3{font-size: 22px; line-height: 28px; } .isotope-item .isocontent-wrap .idea-title{font-size: 18px; } } @media screen and (max-width: 767px) {#isotope-list, #cc-isotope-list{height: auto !important; margin: 0 auto 30px; width: 476px; } .isotope-item, .isotope-item.masonary-item{height: auto !important; width: 100% !important; } .isotope-item img{width: 100%; } .modal #isotope-list{margin: 0 auto; opacity: 1 !important; visibility: visible !important; width: 400px; } .isotope-item, .isotope-item.masonary-item, .modal .isotope-item{height: auto !important; left: 0 !important; min-height: 0px; opacity: 1 !important; position: relative !important; top: 0 !important; width: 100% !important; transform: none !important; } .masonary-item img{display: block; height: auto; } .masonary-item .bg-img{display: none; } .masonary-item.overlay-title .content h3{padding-bottom: 10px; } .masonary-item.overlay-title .content h3:before{height: 3px; } .masonary-item.rollover-title .content{padding: 10px 15px; } } @media screen and (max-width: 639px) {#isotope-list, #cc-isotope-list, .modal #isotope-list{width: 400px; } } @media screen and (max-width: 480px) {#isotope-list, #cc-isotope-list, .modal #isotope-list{width: 270px; } .masonary-item .content h3{font-size: 120% !important; line-height: 1.2 !important; } }
/**** Isotope Filtering ****/
 .isotope-item {z-index: 2; } .isotope-hidden.isotope-item {pointer-events: none; z-index: 1; } .isotope, .isotope .isotope-item {-webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; } .isotope {-webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; } .isotope .isotope-item {-webkit-transition-property: -webkit-transform, opacity; -moz-transition-property:    -moz-transform, opacity; -ms-transition-property:     -ms-transform, opacity; -o-transition-property:      -o-transform, opacity; transition-property:         transform, opacity; } .isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {-webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }