/* card.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.card {
  position: relative;
  display: block;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #eee;
  transition: opacity 0.2s ease;

  &:hover {
    text-decoration: none;
  }

  &.card--hover {

  }

  &.card--disabled {
    opacity: 0.5;
  }

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }


  .card-label {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    background-color: #fff;
    padding: 15px 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }


  .card-label__part {

  }


  .card-title {
    @include ff-medium;
    font-size: rem(18px);
    transition: color 0.2s ease;
  }


  .card-subtitle {
    transition: color 0.2s ease;
  }


  .card-link {
    text-decoration: underline;
    transition: color 0.2s ease;
    white-space: nowrap;
    padding-left: 20px;
  }


  // small
  &.card--small {

    .card-label {
      bottom: 15px;
      left: 15px;
      width: calc(100% - 30px);
      padding: 10px;
      justify-content: center;

      @media (max-width: $screen-lg-max) {
        bottom: 10px;
        left: 10px;
        width: calc(100% - 20px);
      }
    }

    .card-title {
      text-align: center;
      font-size: rem(14px);
      line-height: rem(18px);
    }
  }
}